---
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Project from "../components/Project.astro";
import SocialIcon from "../components/SocialIcon.astro";
import ContactForm from "../components/ContactForm.astro";
import styles from "../styles/global.css";

const PROJECTS = [
  {
    name: "Resticy",
    img: "/resticy.png",
    description:
      "Herramienta para recibir pedidos en tiempo real. Disminuye la tasa de error a la hora de tomar ordenes, disminuye el tiempo de preparación de las comidas y mejora la experiencia del cliente.",
    stack: ["ReactJS", "NodeJS", "PostgreSQL", "TailwindCSS", "WebSockets"],
    url: "github.com",
    projectRepo: "https://github.com/JoaquinDicio/resticy",
  },
  {
    name: "Del Sur Global",
    img: "/delsurglobal.png",
    description:
      "Sitio web con catálogo de productos administrado desde un panel propio. Permite gestionar contenido de forma sencilla y ofrece filtros dinámicos para una navegación rápida y clara.",
    stack: ["Astro", "ReactJS", "Firebase", "TailwindCSS"],
    url: "https://joaquindicio.github.io/twitter-clone/",
    projectRepo: "http://github.com/JoaquinDicio/twitter-clone",
  },
  {
    name: "Clinica Dental Serranos",
    img: "/dentalserranos.png",
    description:
      "Landing page profesional enfocada en una experiencia clara y moderna. Presenta los servicios de la clínica de forma ordenada, optimiza la conversión y garantiza una navegación ágil en cualquier dispositivo.",
    stack: ["ReactJS", "AstroJS", "TailwindCSS"],
    url: "https://dentalserranos.com",
    projectRepo: "https://github.com/JoaquinDicio/clinica-serranos",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href={styles} />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Joaquin Di cio | Portfolio</title>
  </head>
  <body
    class="lg:py-32 py-22 px-10 lg:px-0 text-white bg-gradient-to-br from-gray-900 via-[#0a0f1c] to-[#05070e]"
  >
    <Header />

    <Section>
      <h2 class="font-bold text-xl">
        ¡Hola! Soy Joaquín, Técnico Superior en Programación.
      </h2>

      <p class="mt-5">
        Cuento con una base sólida en mi área y una fuerte orientación a
        entregar resultados que aporten valor real a la empresa. Me destaco por
        mantener una comunicación clara, ser proactivo y adaptarme rápidamente a
        nuevos desafíos.
      </p>

      <p class="mt-5">
        Durante el último tiempo, trabajé como desarrollador web en una agencia
        de marketing digital, diseñando e implementando soluciones eficientes
        adaptadas a las necesidades específicas de cada cliente.
      </p>

      <div class="flex gap-1 items-center">
        <h2 class="font-bold text-xl mt-10">Educación</h2>
        <img src="/education.png" class="mt-5" alt="gorro de graduacion" />
      </div>

      <ul class="mt-5 flex flex-col gap-5">
        <li>
          Técnico Superior en Programacion <span
            class="text-[var(--blue)] font-italic"
            >- 2022 - 2025 - Inst. Da Vinci</span
          >
        </li>

        <li>
          Programación Web Fullstack <span
            class="text-[var(--blue)] font-italic"
            >- 2021 - 2022 - Coderhouse</span
          >
        </li>

        <li>
          Bachiller Informático <span class="text-[var(--blue)] font-italic"
            >- 2015 - 2020 - Inst. Virginio F. Grego</span
          >
        </li>
      </ul>
    </Section>

    <Section animate={false}>
      <h2 class="font-bold text-xl mb-5">Últimos proyetos</h2>

      <div>
        <ul class="mt-5 flex flex-col gap-12">
          {PROJECTS.map((aProject) => <Project project={aProject} />)}
        </ul>
      </div>
    </Section>

    <Section>
      <h2 class="font-bold text-xl mb-5">Contacto</h2>
      <p>
        Siempre estoy abierto a escuchar sobre nuevos proyectos y oportunidades
        de crecimiento.
      </p>

      <div class="flex gap-3 mt-5">
        <SocialIcon
          img="/github.png"
          href="https://github.com/JoaquinDicio"
          alt="Perfil de Github"
        />

        <SocialIcon
          img="/linkedin.png"
          href="https://www.linkedin.com/in/joaquin-di-cio-142638230/"
          alt="Perfil de Linkedin"
        />
      </div>

      <ContactForm />
    </Section>

    <script src="../js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/759a8eedd2.js"
      crossorigin="anonymous"></script>
  </body>
</html>
