---
import Link from "./Link.astro";
import SocialIcon from "./SocialIcon.astro";
---

<header
  class="flex flex-col lg:flex-row justify-between lg:items-center max-w-[850px] mx-auto w-full"
>
  <div>
    <div>
      <h1 class="uppercase font-bold text-5xl mb-1">Joaquin Di cio</h1>
      <p class="text-2xl">Desarrollador Fullstack</p>
    </div>
    <div>
      <nav
        class="flex gap-3 sm:items-center mt-5 flex-col sm:flex-row items-start"
      >
        <Link
          target="_self"
          href="#contact"
          className="flex items-center justify-between w-[150px]"
          variant="blue"
          >Contactar
          <img
            class="max-w-[25px]"
            src="/contact.svg"
            alt="Boton de contacto"
          />
        </Link>
        <Link
          className="flex items-center justify-between flex-nowrap w-[177px]"
          href="/joaquindicio.pdf"
          variant="transparent"
        >
          Descargar CV

          <img
            class="max-w-[25px]"
            src="/download.svg"
            alt="Descargar Curriculum"
          />
        </Link>
      </nav>
    </div>
  </div>
  <div>
    <nav class="flex lg:flex-col flex-row lg:gap-5 gap-3 mt-5">
      <SocialIcon
        img="/github.png"
        href="https://github.com/JoaquinDicio"
        alt="Perfil de Github"
      />

      <SocialIcon
        img="/linkedin.png"
        href="https://www.linkedin.com/in/joaquin-di-cio-142638230/"
        alt="Perfil de Linkedin"
      />
    </nav>
  </div>
</header>
